section {
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.bonneRep {
  background-color: lightgreen;
  border: solid limegreen 1px;
}

.mauvaiseRep {
  background-color: lightpink;
  border: solid red 1px;
}
.repIdentique {
  background-color: rgb(193, 182, 255);
  border: solid rgb(55, 0, 255) 1px;
}

img {
  width: 100%;
  max-width: 345;
}

.imgCarte {
  height: 300px;
}

.centrer {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}
